body {
  background-image: url(./Images/contact_bg.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: grayscale(40%);
  margin: 0;
  padding: 0;
}

.topnav {
  width: 50%;
  height: 40px;
  margin: auto;
}

.topnav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Open Sans;
  margin: 2%;
}

.topnav a:hover {
  background-color: rgba(253, 224, 199, 0.718);
}

.contact1 {
  width: 70vw;
  margin: auto;
  display: flex;
}
.contact {
  width: 70vw;
  margin: auto;
  display: flex;
}

.title,
.title1 {
  color: whitesmoke;
  margin-bottom: -1%;
}

.title1 {
  margin-top: 20%;
}

.title1,
.title2 {
  padding: 2%;
}

.title,
.title1,
.title2 {
  font-weight: lighter;
  font-size: 40px;
  font-family: Open Sans;
}

.right {
  text-align: right;
}

.github,
.figma {
  width: 100%;
  height: 100vh;
  background-image: url(./Images/contactx.svg);
}

.behance {
  width: 100%;
  height: 150vh;
}

.img1,
.img2 {
  width: 30%;
  height: 30%;
  border-radius: 10%;
  margin-top: 5%;
}

.img2 {
  margin-top: 7%;
}

.linktxt {
  color: white;
  font-size: large;
  padding: 10%;
}

.txt {
  font-size: large;
  padding: 10%;
}

.link {
  text-decoration: none;
  color: black;
}

.link2 {

text-decoration: none;
  color: white;
}

.link2:hover, .link:hover {
  text-decoration: underline
}