body {
  background-image: url(./Images/timeline.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.topnav {
  width: 30%;
  margin: auto;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Open Sans;
  margin-bottom: 2%;
}

.topnav a:hover {
  background-color: rgba(253, 224, 199, 0.718);
}

.edu {
  width: 70vw;
  margin: auto;
}

img {
  width: 10vw;
  height: 15vh;
  border: 3px solid black;
  border-radius: 10%;
  border-style: double;
}

.timeline {
  font-weight: lighter;
  font-family: Open Sans;
  font-size: 15px;
  padding: 5%;
}

.title {
  font-weight: lighter;
  font-size: 40px;
}

.insti {
  font-family: Open Sans;
  font-weight: 600;
}

.box {
  float: left;
}

.proj {
  width: 45%;
  float: left;
}

.bigbox {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}

.bigbox2 {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}
