body {
  background-image: url(./Images/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.topnav {
  width: 50%;
  margin: auto;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Open Sans;
}

.topnav a:hover {
  background-color: rgba(253, 224, 199, 0.718);
}

.about {
  width: 60vw;
  margin: auto;
  text-align: center;
}

.name {
  font-weight: lighter;
  font-size: 70px;
}

.dp {
  width: 14%;
  height: 14%;
  border: 3px solid black;
  margin: 5%;
  border-radius: 50%;
}

.icons a {
  margin-top: -20px;
  padding: 10px;
  color: rgb(33, 32, 32);
  font-size: 20px;
  text-decoration: none;
}
