body {
  background-image: url(./Images/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.topnav {
  display: flex;
  justify-content: center;
}

.topnav a {
  display: flex;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Open Sans;
}

.topnav a:hover {
  background-color: rgba(253, 224, 199, 0.718);
}

.about {
  width: 60vw;
  margin: auto;
  text-align: center;
}

.name {
  display: flex;
  font-weight: lighter;
  margin: 4rem;
  justify-content: center;
  font-size: 4rem;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
}

@keyframes animate {
  from {text-shadow: none;}
  to {text-shadow: 2px 2px 5px yellow;}
}

.dp {
  width: 14%;
  height: 14%;
  border: 3px solid black;
  margin: 5%;
  border-radius: 50%;
}

@media only screen and (max-width: 888px) {
  .dp {
    width: 80px;
    height: 80px;
  }
}

.icons a {
  margin-top: -20px;
  padding: 10px;
  color: rgb(33, 32, 32);
  font-size: 20px;
  text-decoration: none;
}
